# комментарий — эта строка игнорируется
# не обрабатывать файлы, имя которых заканчивается на .a
#*.a
# НО отслеживать файл lib.a, несмотря на то, что мы игнорируем все .a файлы с помощью предыдущего правила
#!lib.a
# игнорировать только файл TODOd находящийся в корневом каталоге, не относится к файлам вида subdir/TODOd
#/TODOd
# игнорировать все файлы в каталоге build/
#build/
# игнорировать doc/notes.txt, но не doc/server/arch.txt
#doc/*.txt
# игнорировать все .txt файлы в каталоге doc/
#doc/**/*.txt
.idea/
vendor/
config/*.php
composer.lock
public/components/
public/docs/